// Forms 

button {
  background: var(--light1);
  padding: 1rem 3rem;
  border: none;
}

fieldset {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px dotted rgba(white, .7);
}

legend {
  margin: 0 0 1em 0;
  padding: .2em 1em;
}

// Fields
.field__validation {
  display: none;
}

.field__label {
  display: inline-flex;
  margin-bottom: 1em;
}

.field__wrap {
  display: flex;
  margin-bottom: 1em;
}

.field__input {
  margin-bottom: 1em;
  display: inline-flex;
  border-radius: 2px;
  padding: 1rem;
  flex: 1;
  border: 1px solid rgba(black, .2);

  &:required {
    border-bottom: 1px solid brown;
  }
}

.field__svg {
  max-width: 10px;
  max-height: 10px;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.action-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.btn {
  background: var(--light1);
  padding: 1rem 2rem;
  border: none;
}

.btn--primary {
  background: var(--primary);
  color: var(--light2);
  margin-left: 1rem;
}