body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ap {
  background: rgb(24, 43, 43);
  display: grid;
  grid-row: 1;
  min-height: 100vh;
  grid-template-areas: 
            "header header header"
            ". main ."
            "footer footer footer";
  grid-template-rows: auto 1fr 130px;
  grid-template-columns: 1fr 6fr 1fr;
}

.ap__route {
  background: yellow;
  background: lightgrey;
  grid-area: main;
  padding: 2rem;
}

.he {
  grid-area: header;
  display: flex;
  color: #fefefe;
}

.he-logo {
  flex: 0 2 220px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(67, 62, 73);
  padding: 1rem;
}

.he-logo__title {
  margin: 0;
}

.he-logo__image {
  max-width: 10rem;
}

.he-nav {
  background: rgb(73, 62, 67);
  flex: 2 2 auto;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.he-nav__item {
  padding: 1rem;
  margin: 1rem .5rem;
  cursor: pointer;
  color: rgba(white, .8);

  &:hover,
  &.active {
    background: black;
    transition: all .4s ease;
  }
}

.he-nav__image-wrap {
  flex: 2 2 70px;
  cursor: pointer;
}

.he-nav__image {
  max-width: 70px;
}



.fo {
  background: darkslategrey;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: white;
  padding: 1rem 3rem;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  margin-bottom: 1rem;
  background: white;
  border: none;
}

legend {
  background: white;
  padding: .2em 1em;
}

// Fields
.field__validation {
  display: none;
}

.field {
  background: whitesmoke;
  margin-bottom: 1rem;
  padding: 2rem;
}

.field__label {
  display: inline-flex;
  margin-bottom: 1em;
}

.field__wrap {
  display: flex;
  margin-bottom: 1em;
}

.field__input {
  margin-bottom: 1em;
  display: inline-flex;
  padding: 1rem;
  flex: 1;
}

.field__svg {
  max-width: 10px;
  max-height: 10px;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.action-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.btn {
  background: lightgray;
  padding: 1rem 2rem;
  border: none;
}

.btn--primary {
  background: hotpink;
  margin-left: 1rem;
}